$bg-color-filled: #f5f5f5;
$bg-color: #ffffff;
$standart-border-color: rgba(0, 0, 0, 0.42);
$primary-color: #5a76da;
$active-bg-color: #97a7e2;
$disabled-color: gray;
$disabled-border-color: lightgrey;
$error-color: #c42d2d;
$text-color: rgba(0, 0, 0, 0.87);
$dark-grey-color: rgba(0, 0, 0, 0.5);

@mixin transition($property, $duration) {
    transition: $property $duration;
}

@mixin border-color($color) {
    border-bottom-color: $color;
}

@mixin label-color($color) {
    color: $color;
}

@mixin input-focus-hover {
    outline: none;
    border-bottom-width: 2px;
    @include border-color($primary-color);
}

@mixin input-error-focus-hover {
    @include border-color($error-color);
}

.containerInput {
    position: relative;
    display: flex;
    height: 50px;
    border-radius: 4px;
    background-color: $bg-color;
    font-family: Arial, sans-serif;
}

.input {
    width: 100%;
    height: 100%;
    padding: 15px 10px 5px;
    border: 1px solid transparent;
    @include border-color($standart-border-color);
    background-color: transparent;
    font-size: 1rem;
    color: $text-color;
    box-sizing: border-box;

    &.error ~ .label {
        @include label-color($error-color);
        @include transition(all, 0.3s);
    }

    &.focus ~ .label {
        @include label-color($primary-color);
        @include transition(all, 0.3s);
    }

    &.error:focus ~ .label {
        @include label-color($error-color);
    }

    &:focus,
    &:hover {
        @include input-focus-hover;
    }

    &.error,
    &.error:focus {
        @include input-error-focus-hover;
    }

    &.outlined {
        border: 1px solid $dark-grey-color;
        border-radius: 4px;

        &:focus,
        &:hover {
            border: 1px solid $primary-color;
        }

        &.error,
        &.error:focus,
        &.error:hover {
            border-color: $error-color;
        }

        &.select {
            border-color: $primary-color;
            @include transition(border-color, 0.3s);

            &.error {
                border-color: $error-color;
            }

            &.error ~ .label {
                @include label-color($error-color);
                @include transition(all, 0.4s);
            }
        }

        &.select ~ .label {
            @include label-color($primary-color);
            @include transition(all, 0.4s);
        }
    }

    &.filled {
        border-radius: 4px;
        background-color: $bg-color-filled;

        &.error,
        &.error:focus {
            @include border-color($error-color);
        }

        &.error:not(:placeholder-shown) ~ label,
        &.error:focus ~ label {
            @include label-color($error-color);
        }

        &:not(:placeholder-shown) ~ label,
        &:focus ~ label {
            top: -8px;
            left: 10px;
            font-size: 0.75rem;
            background-color: transparent;
            transform: translateY(0);
        }
    }
}

.label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: $dark-grey-color;
    padding: 1px;
    @include transition(all, 0.3s);
}

.input:not(:placeholder-shown) ~ label,
.input:focus ~ label {
    top: -8px;
    left: 10px;
    font-size: 0.75rem;
    background-color: $bg-color;
    color: $primary-color;
    transform: translateY(0);
}

.outlined.error ~ .label,
.outlined.error:focus ~ .label {
    @include label-color($error-color);
}
